*{
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
header{
  padding: 5px;
  border-bottom: 1px solid white;
  text-align: center;
  margin-bottom: 15px;
}
.link-menu{
  padding: 5px;
  margin: 45px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgray;
  border: 1px solid darkgray;
  border-radius: 5px;
}
footer{
  position: absolute;
  bottom: 0;
  margin-left: 45%;
}
section > img{
  max-width: 600px;
  max-height: 600px;
  margin-top: 15px;
  display: block;
  margin: 0px auto;
  padding-top: 50px;
}
